@charset "utf-8";

body {
    font-family: "游ゴシック";
}

h1 {
    text-align: left;
    font-weight: bold;
}

.event {
    text-align: left;
    margin-left: 34%;
}

.event p {
    margin-left: 125px;
}

#content {
    height: 200px;
}

h3 {
    margin-left: 20px;
}

#content2 {
    height: 250px;
    margin-left: 15px;
}
.warning {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-left: 33%;
    margin-bottom: 10px;
}

.square_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

hr.style1{
	border-top: 1px solid #8c8b8b;
	width: 600px;
}