@charset "utf-8";

body {
    background: url("/images/top.png");
    background-size: cover;
    font-family: "游ゴシック";
}

.navbar {
    margin-bottom: 0;
}

.cover {
    width:100%;
    position: relative;
}
.cover-contents {
    width: 60%;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    display: table;
    position: absolute;
    top: 10px;
    left: 20%;
    margin-bottom: 20px;
}

#form {
    margin-top: 30px;

}

.form-group {
    text-align: center;
    
}

.form-group p {
    margin-left: -140px;
}

label {
    width:100px;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 3px;
}

text {
    width: 385px;
}

select {
    width: 385px;
}

#title {
    width: 385px;
}

#date {
    width: 385px;
}

#place{
    width: 385px;
}

#point {
    width: 385px;
}

#max_capacity {
    width: 385px;
}

textarea {
    width: 385px;
}
.errors {
    width: 385px;
    font-size: 12px;
    color: #e95353;
    border: 1px solid #e95353;
    background-color: #f2dede;
    display: inline-block;
    margin-left: 100px;
}
.error-message {
    text-align: left;
	padding-top: 10px
}
    