@charset "utf-8";

body {
    background: url("/images/post.jpg");
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}

.cover {
    width:100%;
    /*background: url("/images/post.jpg");*/
    /*background-size: cover;*/
    /*height: 350px;*/
    position: relative;
}
.cover-contents {
    font-family: "游ゴシック";
    /*height: 250px;*/
    width: 60%;
    border: solid 1px #000000;
    background: #ffffff;
    opacity: 0.9;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    display: table;
    position: absolute;
    top: 10px;
    left: 20%;
    margin-bottom: 20px;
}

#form {
    margin-top: 30px;

}

.form-group {
    text-align: center;
    font-family: "游ゴシック";
}

label {
    width:100px;
    vertical-align: top;
}

text {
    width: 385px;
}

select {
    width: 385px;
}

#title {
    width: 385px;
}

#date {
    width: 385px;
}

#place{
    width: 385px;
}

#point {
    width: 385px;
}

#point {
    width: 385px;
}

#max_capacity {
    width: 385px;
}

textarea {
    width: 385px;
}