@charset "utf-8";

body {
    background: url("/images/profileedit.jpg");
    background-size: cover;
}
.cover {
    width:100%;
    position: relative;
    margin-top: 30px;
   
}

.cover-contents {
    font-family: "游ゴシック";
    /*height: 250px;*/
    width: 60%;
    border: solid 1px #000000;
    background: #ffffff;
    opacity: 0.8;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    display: table;
    position: absolute;
    top: 10px;
    left: 20%;
    margin-bottom: 20px;
    height: 550px;
}

textarea {
    height: 300px;
    width: 400px;
}

.form-group {
    margin-top: 30px;
}
