@charset "utf-8";

body {
    background: url("/images/s_requestdone.jpg");
}

.cover {
    height: 250px;
    width: 60%;
    border: solid 1px #000000;
    background: #ffffff;
    opacity: 0.7;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    display: table;
    margin-top: 200px;
}

.cover cover-contents {
     font-family: "游ゴシック";
    text-align: center;
     vertical-align: middle;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}