/*タブ切り替え全体のスタイル*/
.tabs {

margin-left:-100px;
margin-top: 2500px;
padding-bottom: 200px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width: 1000px;
margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
width: calc(100%/4);
height: 50px;
border-bottom: 3px solid #333333;
background-color: #d9d9d9;
line-height: 50px;
font-size: 16px;
text-align: center;
color: #565656;
display: block;
float: left;
text-align: center;
font-weight: bold;
transition: all 0.2s ease;
}
.tab_item:hover {
opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
display: none;
padding: 40px 40px 0;
clear: both;
overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#join:checked ~ #join_content,
#arrange:checked ~ #arrange_content,
#arrangehistory:checked ~ #arrangehistory_content,
#joinhistory:checked ~ #joinhistory_content
{
display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
background-color:#333333;
color: #fff;
}

.row {
        width: 300px;
        padding: 14px 0;
}
.row > .inner {
        margin: 0 14px;
        position: relative;
        min-height: 50px;
}
.row > .inner > .image {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}
.row > .inner > .text {
        margin-left: 57px;
}

.relative {
    position: relative;
}



p.review{
color:#000000;
font-size:15px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:20px;
margin-left:350px;

}

p.name{
color:#000000;
font-size:50px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:20px;
margin-left:350px;


}

p.profile{
color:#000000;
font-size:20px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:-15px;
margin-left:80px;

display: inline-block;


}

.box1 {
    height: 100px;
    margin-left:600px;
    padding: 2em 2em;
    margin: 1em 5em;
    /*border: solid 0.5px #000000;*/
    width:1000px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
	width: 1000px;
	margin-top: 0;
}

.box1 p {
    margin: 10; 
    padding: 0;
}

.box2 {
    margin-left:600px;
    padding: 0.3em 2em;
    margin: 1em -1em;
    font-weight: bold;
    border: solid 2px #000000;
    width:880px;
}
.box2 p {
    margin: 10; 
    padding: 0;
}


p.star{
color:#FFFFFF;
font-size:20px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:180px;
margin-left:1000px;
width:20%;
}

p.point{
color:#000000;
font-size:15px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:30px;
margin-left:350px;
width:20%;
}

p.havepoint{
color:#FFFFFF;
font-size:20px;
font-weight:bold;
line-height:150%;
font-family:"Meiryo",sans-serif;
margin-top:100px;
margin-left:950px;
width:20%;
}


.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.5em 3em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.square_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.top {

    width:  300px;       /* ※縦横を同値に */
    height: 300px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
    margin-top:10px;
margin-left:300px;
}


img.sample2{
    float:left;
    margin-left:35px;
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  250px;       /* ※縦横を同値に */
    height: 250px;       /* ※縦横を同値に */
}

hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}

.btn#event {
    text-align: center;
    padding-bottom: 0px;
}

body {
    font-family: 游ゴシック;
}