body {
  width: 100%;
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  /*height:200px;*/
  padding: 0 15px;
  margin: 0 auto;
}


.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}



.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  
  
  /* z-indexを10に指定してください */
  
}



.category-wrapper {
  /*height: 300px;*/
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  text-align: center;
   overflow:hidden;
}

.heading {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
  text-align:center;
  color:black;
}

h1 {
    color:black;
     font-size: 45px;
  letter-spacing: 0px;
}



.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f7f7f7;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}

hr {
    width: 100px;
    font-weight:bold;
}

span {
    color: red;
}




button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both; 
}


* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.category {
    float:left;
    position: relative;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:15px;
    margin-right: 15px;
    text-align: center;
    overflow: hidden;
}



/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.category:hover .overlay {
  opacity: 1;
}